/* Reset básico para garantir que o estilo seja consistente em diferentes navegadores */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1; /* Cor de fundo opcional */
    padding: 10px; /* Espaçamento interno opcional */
    font-size: 14px; /* Tamanho da fonte opcional */
}
